#details {
  margin: 80px auto 100px auto;
}

#card-details {
  text-align: center;
  vertical-align: middle;
  max-width: 800px;
  height: 450px;
  margin: 0 auto;
}

#card-details .plant-card {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

#card-details .plant-card-background {
  width: 100%;
  height: 100%;
  padding: 30px;
  margin: 0 auto;
  background: white;
  position: inherit;
  top: 20px;
  left: 0;
  z-index: -1;
}

#card-details .card-background-wrapper {
  width: 100%;
  height: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 59%, 0 81%);
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: contain;
}

#card-details .card-background-wrapper img {
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  top: -120px;
}

#card-details .plant-card-info {
  display: inline-block;
  width: 680px;
  height: 280px;
  background: white;
  box-shadow: 1px 2px 8px 2px #8cca60;
  padding: 20px;
  position: absolute;
  top: 82%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}


#card-details .plant-card-info-text {
  font-size: 14px;
  margin: 20px 30px;
  display: flex;
  gap: 20px;
  justify-content: space-around;
  align-items: center;
  line-height: 1.5;
  text-align: justify;
}

#card-details .left {
  flex-basis: 40%;
  line-height: 0.8rem;
  position: relative;
}

#card-details .left-wrap {
  position: relative;
  left: -132px;
  width: 500px;
}

#card-details .plant-card-info h4 {
  font-size: 30px;
  color: #31D618;
}

#card-details .plant-card-info .left div {
  text-align: center;
}

#card-details .right {
  flex-basis: 60%;
  position: relative;
}

#card-details .plant-card-info h6,
#card-details .plant-card-info p {
  font-size: 14px;
  text-align: left;
  margin: 6px;
}

#card-details .plant-card-info-text span {
  color: #31D618;
  font-size: 16px;
  font-weight: bold;
  margin-right: 8px;
}

#card-details .plant-card-info h6 {
  font-style: italic;
  text-align: center;
  margin-bottom: 20px;
}

#card-details .details-btn {
  display: inline-block;
  height: 30px;
  margin: 0 10px;
  width: 150px;
  border: none;
  font-size: 12px;
  font-weight: bold;
  background-color: #fff;
  color: #31D618;
  box-shadow: 1px 1px 5px 2px #8cca60;
}

#card-details .details-btn:hover {
  background-color: #31D618;
  box-shadow: 1px 1px 5px 2px rgb(78, 76, 76);
}

#card-details .delete.details-btn:hover {
  background-color: #ffb535;
}

#card-details .details-btn i {
  padding-right: 10px;
  color: #31D618;
}

#card-details .details-btn span {
  color: #ffb535;
}

#card-details .details-btn:hover i,
#card-details .details-btn:hover span {
  color: #fff;
}

.details-btn-close {
  background-color: #fff;
  border: none;
  color: #31D618;
  position: absolute;
  top: -10px;
  right: -282px;
}

#card-details .rating {
  text-align: center;
  margin-bottom: 10px;
  position: absolute;
  top: 55px;
  right:110px;
}

#card-details .rating h3 {
  display: inline-block;
  margin-right: 14px;
}

#card-details .rating span {
  color: #ffb535;
  font-size: 22px;
  font-weight: bold;
  margin: 3px;
}

.details {
  width: 100%;
  height: 100%;
}