#card-details {
  text-align: center;
  vertical-align: middle;
  max-width: 900px;
  height: 80Vh;
  margin: 0 auto;
}

#card-details .blog-card {
  height: 100%;
  position: relative;
}

#card-details .blog-card-background {

  padding: 30px;
  margin: 30px;
  background: white;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  height: 90%;
}

#card-details .card-background-wrapper {
  height: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 60%);
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
}

#card-details .card-background-wrapper img {
  width: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}

#card-details .blog-card-info {
  display: inline-block;
  z-index: 10;
  max-width: 680px;
  background: white;
  position: relative;
  top: 64%;
  left: 38%;
  transform: translate(-50%, -50%);
  box-shadow: 1px 10px 10px grey;
  padding: 25px;
}

#card-details .blog-card-info h4 {
  font-size: 18px;
  margin: 0;
  padding-top: 10px;
  color: #ffb535;
}

#card-details .blog-card-info-text {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

#card-details .left,
#card-details .right {
  flex-basis: 50%;
}

#card-details .blog-card-info h6,
#card-details .blog-card-info p {
  text-align: left;
  margin: 3px;
}

#card-details .blog-card-info h6 {
  text-align: center;
  margin-bottom: 10px;
}

#card-details .blog-card-info-text span {
  color: #ffb535;
  font-size: 16px;
  font-weight: bold;
}

#card-details .blog-card-info .description {
  font-size: 14px;
  margin-bottom: 25px;

}

#card-details .icon-link {
  color: #8cca60;
  transition: 200ms ease-in-out;
}

#card-details .icon-link:hover {
  color: #8cca60;
  text-decoration: none;
}

#card-details .vote:hover {
  background-color: #ffb535;
}

#card-details .btn {
  background: white;
  color: #363738;
  font-weight: bold;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.6);
  overflow: hidden;
  height: 41px;
  line-height: 40px;
  display: inline-block;
  border: none;
  margin-right: 20px;
}
.btn.btn-with-icon{
  display: inline-block;
}
.btn.btn-with-icon span {
  display: inline-block;
  width: 60px;
}

#card-details .btn:hover {
  color: #fff;
}

#card-details .btn:hover {
  background-color: #8cca60;
  color: #fff;
  transition: 200ms ease-in-out;
}

#card-details .btn.vote i{
  background-color: #ffb535;
}


#card-details .btn.vote:hover {
  background-color: #ffb535;
}


#card-details .btn-with-icon i {
  padding: 0px 40px 0 22px;
  height: 100%;
  line-height: 50px;
  vertical-align: bottom;
  color: white;
  background: #8cca60;
  clip-path: polygon(0 0, 52% 0, 95% 100%, 0% 100%);
}


#card-details .btn.btn-with-icon {
  font-size: 14px;
  text-decoration: none;
  padding-right: 40px;
}