.cancel-btn,
.delete-btn {
  float: left;
  width: 50%;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  color: white;
}

.cancel-btn {
  background-color: #ccc;
  color: black;
}

.delete-btn {
  background-color: #f44336;
}

.modal-backdrop {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #474e5d;
  padding-top: 100px;
  opacity: 0.8;
}

#delete-modal .container {
  height: 250px;
  padding: 30px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: unset;
  z-index: 2;
}

.clear-buttons {
  margin-top: 30px;
}

.modal span {
  display: inline-block;
}

.btn-close {
  position: absolute;
  top: 100px;
  right: 100px;
  z-index: 5;
}

.btn-close:hover{
  cursor: pointer;
}

.btn-close i {
  font-size: 20px;
  color: red;
}