.my-card {
    margin: 80px auto;
    background:url('https://images.unsplash.com/photo-1506968430777-bf7784a87f23?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80');
    box-shadow: 0px 8px 20px 3px;
    background-repeat:repeat-y;
    overflow: hidden;
    border-radius: 10px;
    padding: 20px 0 80px 0;
    height: 100%;
    width: 850px;
    position: relative;
}

.my-card>h2 {
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

.my-card-item {
    background-color: #fff;
    box-shadow: 1px 10px 10px 0px #000;
    display: flex;
    max-width: 100%;
    margin: 40px 100px;
    overflow: hidden;
    width: 600px auto;
    min-height: 210px;
    height: auto;
    border-radius: 4px;
}

.my-card-info {
    padding: 30px;
    position: relative;
    width: 100%;
    display: flex;
    gap: 5%;
}

.my-card-info img {
    margin-top: -10px;
    width: 200px;
    height: 160px;
    padding: 5px;
    flex-basis: 30%;
    margin-right: 20px;
    object-fit: cover;
}

.my-card-info-text {
    text-align: center;
    position: relative;
    flex-basis: 30%;
}

.my-card-info-text .rating h3{
color: #000;
    font-size: 14px;
    font-style: italic; 
}

.my-card-info-text .rating span {
    color: #ffb535;
    font-size: 22px;
    font-weight: bold;
    margin: 3px;
}

.my-card-info-desc {
    flex-basis: 30%;
    margin-top: 25px;
}
.my-card-info-text h4,
.my-card-info-desc h4 {
    font-size: 16px;
    font-weight: 750;
    color: green;
    margin-bottom: 10px;
}

.my-card-info-text .my-card-name {
    text-align: center;
    font-size: 20px;
    color: orange;
    margin-bottom: 15px;
}

.my-card-info-desc p {
    font-size: 14px;
}

.my-card-info-text .details-button {
    background-color: #8cca60;
    box-shadow:  1px 10px 10px 0px  rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 30px;
    letter-spacing: 1px;
    position:relative;
    bottom: -30px;
   
}

