#about-wrapper {
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1518531933037-91b2f5f229cc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=327&q=80);
    /* background-repeat: no-repeat; */
    background-position: center center;
    /* background-size: cover; */
}
.about-container {
    margin: 48px auto 0 auto;
    background-color: #fff;
    box-shadow: 0px 8px 10px 3px;
    background-repeat: repeat-y;
    overflow: hidden;
    padding: 20px;
    height: 100%;
    max-width: 70%;
}

.about-us-content {
    margin: 0 auto;
    background-color: #fff;
}

#about-us .title,
#about-us .about-description {
    text-align: center;
    font-size: 1rem;
}

#about-us .title {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1.1px;
}

#about-us .about-description {
    width: 60%;
    margin: 0 auto 2rem auto;
    line-height: 1.3rem;
}

#about-us .subtitle {
    max-width: 70%;
    margin: 0 auto;
    padding: 0 2rem;
    font-size: 22px;
    font-weight: bold;
    line-height: 28px;
    letter-spacing: 1.02px;
    text-transform: capitalize;
}

#about-us .subtitle.second {
    display: inline-block;
    text-align: right;
    margin-bottom: 0;
}

#about-us img {
    max-width: 600px;
    max-height: 450px;

}


#about-us .description-first,
#about-us .description-second {
    display: inline-block;
    width: 33%;
    text-align: justify;
    line-height: 1.4rem;
    margin: 10px 0;
    text-indent: 30px;

}

/* #about-us .description-first {
    float: right;
}

#about-us .description-second {
    float: left;
} */

#about-us img.description-first {
    width: 100%;
    float: left;
    padding: 6px 2rem 6px 0;
    
}

#about-us img.description-second {
    width: 100%;
    float: right;
    padding: 6px 0 6px 2rem;
}

#about {
    background-color: #fff;
    margin: 25px auto;
}

#about .about-garden {
    text-align: center;
}

#about .about-advice {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "picture1 content"
        "perfect picture2";
}

#about .picture1 {
    grid-area: picture1;
    width: 100%;
}

#about .content {
    grid-area: content;
}

#about .perfect {
    grid-area: perfect;
}

#about .picture2 {
    grid-area: picture2;
    width: 100%;
}

#about .content {
    padding: 0 35px;
}

#about .content-title {
    font-size: 22px;
    margin: 0 10px;
    text-align: center;
}

#about .content-subtitle {
    font-size: 1rem;
    text-align: center;
    margin: 5px 0 20px 0;
}

#about .content-list li {
    font-size: 15px;
    margin-bottom: 3px;
}

#about .content-list li i {
    font-size: 13px;
    background-color: #8cca60;
    padding: 5px 6px;
    border-radius: 50%;
    margin-right: 20px;
    color: white;
}

#about .perfect {
    text-align: center;
    padding: 10px 30px;
}

#about .perfect-title {
    font-size: 24px;
    margin: 10px 0 20px 0;
}

#about .perfect-content {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#about .perfect-content-card {
    flex-basis: 30%;
}

#about .perfect-content-card p {
    color: #628d44;
    font-size: 16px;
    font-weight: bold;
    margin: 0 auto 20px auto;
}

#about .perfect-content-card img {
    width: 40px;
    margin-bottom: 10px;
}

ul[role='list'].leaf {
    text-align: center;
    margin: 30px auto;
}