#hero {
    margin-top: 55px;
}
#hero .overlay {
    text-align: center;
    height: calc(100vh - 55px);
    background-image: url("https://i.pinimg.com/originals/e2/c2/e4/e2c2e45b68695f9fd72c1d98e63a52b2.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    z-index: -2;
}

.hero-title {
    max-width: 50%;
    font-size: 5rem;
    letter-spacing: 0.4rem;
    line-height: 0.97;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 1px 3px 3px black;
    width: 80%;
    margin: 0 auto 20px auto;
    padding-top: 80px;
}

.hero-subtitle {
    max-width: 70%;
    font-size: 1.5rem;
    margin: 20px auto;
    color: #fff;
    text-shadow: 1px 3px 3px black;
    width: 80%;
    margin-bottom: 80px;
}
.hero-hashtag {
    display: flex;
    background-color:#8cca60;
}
.hero-hashtag h2 {
    margin: 0 auto;
    padding: 5px;
    font-weight: lighter;
    font-size: 1.5rem;
    color: #8cca60;
    text-shadow: 1px 1px 1px rgb(28, 152, 28);
}

.site-content{
    max-height: 500px;
    text-align: center;
    margin: 50px;
}

.site-content-wrapper {
    margin: 30px auto;
    max-width: 80%;
    display: flex;
    gap: 5%
}

.site-content-item {
    flex-basis: 30%;
}

.site-content h2{
    width: 70%;
    margin: 100px auto 0 auto;
}

