footer {
    /* position: absolute;
    bottom: 0;
    left: 0;
    right: 0; */
    background-color: #333333;
    color: white;
    text-align: center;
    padding-bottom: 12px;
    z-index: 1;
    
}

footer .socials {
    display: flex;
    align-items: center;
   justify-content: center;
}

footer .socials ul {
    display: flex;  
}

footer .socials li { 
    margin: .5rem 0.5rem;
}

footer .socials li i, 
footer .socials p {
    font-size: 1.2rem;
    color: #fff;
  
}

footer .rights{
    font-size: 12px;
}

