@import url("https://use.fontawesome.com/releases/v6.1.1/css/all.css");

.App {
  min-height: 100vh;
  position: relative;
  padding-bottom: 64px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: #eee;
}

main {
  min-height: calc(100vh - 120px);
}


